# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Repositorio DLC-4K6-2021\DLC-4K6-2021\Practico\Clase 16-03\Desafio01MedianaParcialHeaps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
